-
  var defaults = {
    lang: 'en',
    charset: 'utf-8',
    title: 'Window size - sevenns.pw',
    description: 'Find out the size of your browser inner window',
    keywords: 'window, inner, size, resolution, sevenns'
  }
