mixin Preloader ()
  .preloader
    style.
      .preloader {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #6c5b7b;
        z-index: 9999;
      }
